.container_resultaat_card {
  border: solid 1px rgba(0, 0, 0, 0.8);
  font-size: 16px;
  padding: 6px;
  letter-spacing: 3px;
  margin: 15px 5px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.6s;
  cursor: pointer;
  background-color: #fff;
}

.zoekLink {
  text-decoration: none;
}

.columnResult {
  margin-left: 10%;
  float: left;
  width: 80%;
}

.rowResult {
  padding: 10px 0 10px 0;
  max-width: 100%;
  justify-content: center;
  transition: 0.3s;
  opacity: 0.75;
  font-size: 120%;
}

.rowResult:hover {
  opacity: 1;
}

.rowResult:after {
  content: "";
  display: table;
  clear: both;
}

.cardResult {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.cardResult:hover {
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

@media only screen and (min-width: 768px) {
  .container_resultaat_card {
    border: solid 2px rgba(0, 0, 0, 0.8);
    font-size: 20px;
    padding: 10px;
    letter-spacing: 5px;
  }

  .container_resultaat_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    transform: scale(1.03);
  }
}
