.nsAchtergrond {
  max-width: 100%;
  background-color: #ffce00;
}

.ReizenZoeken_container {
  max-width: 100%;
  height: auto;
  letter-spacing: 3px;
  padding-bottom: 20px;
}

form input {
  padding: 10px;
  margin: 5px auto 0 auto;
  text-align: center;
  font-size: 20px;
}

.reisZoekInfo {
  padding: 10px 5px;
  text-align: center;
}

.loaderAnimation {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #003082;
  width: 120px;
  height: 120px;
  margin: 50px auto 0 auto;
  -webkit-animation: spin 1.5s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite;
  display: none;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

form {
  text-align: center;
}

.zoekButton {
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #003082;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  margin: 20px auto;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.reizenResultaten_container {
  max-width: 100%;
  display: none;
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Ik had geen idee waar tf de elementen van the inputfields waren, daarom dus parent div en child selectors */
.inputFields > div {
  width: 100%;
}

.inputFields > div > input {
  width: 80%;
}

.inputTimes {
 width: 80%;
 display: block;
}

@media only screen and (min-width: 768px) {
  .ReizenZoeken_container {
    max-width: 70%;
    margin: 0 auto;
    letter-spacing: 5px;
    font-size: 18px;
  }

  .reizenResultaten_container {
    max-width: 70%;
    margin: 0 auto;
    letter-spacing: 5px;
  }

  .zoekButton {
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .zoekButton:hover {
    background-color: #000b46;
  }

  .inputFields > div {
    width: 100%;
  }

  .inputFields > div > input {
    width: 70%;
  }

  .inputTimes {
   width: 70%;
   display: block;
  }
}
